.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1770px;
}

.page-container {
    margin: 0 auto;
    height: 100%;
    max-width: 1170px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $default-color;
}
