.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1770px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex-grow: 1;
}

.footer,
.header {
    border: 5px solid #d81c1c;
}