body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $default-color;
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1770px;
}

.page {
    &__container {
        margin: 0 auto;
        height: 100%;
        max-width: 1170px;
    }

    &__section {
        margin: 120px 0;
    }

    &__pagination {
        margin: 0 auto;
        padding-top: 60px;
        text-align: center;
    }
}

// ------------------------------------
//
//      PRODUCT CARD
//
// ------------------------------------

.product-card {
    border-radius: 10px;
    width: 100%;
    height: 380px;
    max-width: 270px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;

    &__img-wrapper {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        max-width: 270px;
        max-height: 270px;
    }

    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;

        &:hover {
            transform: translate(-50%, -50%) scale(1.05);
        }
    }

    &__name {
        height: 40px;
        font-size: 16px;
        color: $base0-color;

        @extend %D-500;
    }

    &__price {
        height: 40px;
        font-size: 16px;
        color: $base2-color;

        @extend %D-700;
    }

    &__annonce-text {
        color: $base0-color;

        @extend %R-400;
    }

    &:hover {
        .product-menu {
            height: 45px;
            max-width: 170px;
            opacity: 1;
            transform: translate(-50%, -100%);
            transition: all 1s, max-width 0.5s 0.5s;
        }
    }
}

// ------------------------------------
//
//          ASIDE MENU
//
// ------------------------------------

.aside {
    width: 270px;
    min-width: 270px;

    &__item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__item-title {
        margin-bottom: 30px;
        text-transform: uppercase;
        color: $base0-color;

        @extend %after-line;
        @extend %D-700;
    }
}

.search {
    .aside__item-title {
        display: none;
    }

    &__form {
        position: relative;
        display: flex;
        align-items: center;
        border: 2px solid $base2-color;
        border-radius: 5px;
        height: 40px;
    }

    &__input {
        display: inline-block;
        margin: 1px 0 0 2px;
        border: none;
        border-radius: 5px;
        padding: 0 10px;
        width: 223px;
        height: 31px;

        @extend %R-400;
    }

    &__submit-btn {
        position: absolute;
        right: -2px;
        top: -2px;
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        background-image: url(../images/icons/main/search-blue.svg);
        background-size: 18px;
        background-color: $base2-color;
        transition: all 0.3s;
        cursor: pointer;

        &:focus {
            border: 2px solid $base1-color;
        }

        &:hover {
            background-image: url(../images/icons/main/search-white.svg);
            background-color: $base1-color;
        }

        @extend %bg;
    }
}

.category-filter {
    &__form {
        margin-top: -15px;
    }

    &__label {
        display: block;
        font-size: 16px;
        line-height: 43px;
        text-transform: capitalize;

        @extend %R-400;
    }

    &__input {
        &:checked + .category-filter__name {
            background-color: $base4-color;

            &:hover {
                background-color: $base2-color;
            }
        }

        @extend %input-hide;
    }

    &__name {
        position: relative;
        display: block;
        border-radius: 5px;
        padding: 0 20px;
        width: 100%;
        color: $base1-color;
        transition: all 0.3s;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            right: 20px;
            top: 50%;
            display: inline-block;
            width: 10px;
            height: 10px;
            background-image: url(../images/icons/arrows/angle-right-base1.svg);
            transform: translateY(-50%);

            @extend %bg;
        }

        &:hover {
            color: #fff;
            background-color: $base1-color;

            &::after {
                background-image: url(../images//icons//arrows/angle-right-white.svg);
            }
        }
    }
}

.recent-posts {
    &__list-item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.article-preview {
    display: flex;
    align-items: center;

    &__img-link {
        display: inline-block;
        margin-right: 20px;
        width: 70px;
        height: 70px;
        min-width: 70px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title-link {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 14px;
        color: $dark-color;

        &:hover {
            color: $accent-color;
        }

        @extend %R-400;
    }

    .article {
        &__date-link {
            .article__date {
                color: $default-color;
                transition: all 0.3s;
            }

            &:hover {
                .article__date {
                    color: $accent-color;
                }
            }
        }

        &__date {
            &::before {
                background: url(../images/icons/info/calendar-grey.svg);
            }
        }
    }

    & + & {
        margin-top: 20px;
    }
}

.price-filter {
    &__info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 30px;
        font-size: 14px;
        line-height: 43px;
        color: $base1-color;

        @extend %R-400;
    }

    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }

    .irs-line {
        top: 18px;
        border: 1px solid $base4-color;
        height: 3px;
        background-color: $base3-color;
    }

    .irs-bar {
        top: 17px;
        border: 1px solid $base3-color;
        height: 5px;
        background-color: $base2-color;
        transition: all 0.3s;
    }

    .irs-handle {
        top: 12px;
        width: 15px;
        height: 15px;
        background-color: $base2-color;
        transition: all 0.3s;

        &:hover {
            background-color: $base1-color;
        }
    }

    .irs--flat .irs-handle i {
        display: none;
    }
}

.dollar {
    &::before {
        content: "$";
    }
}

.brand-filter {
    &__form {
        margin-top: -15px;
    }

    &__label {
        display: block;
        font-size: 16px;
        line-height: 43px;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-bottom: 1px;
        }

        @extend %R-400;
    }

    &__input {
        &:checked + .brand-filter__text-box {
            background-color: $base4-color;

            &:hover {
                background-color: $base2-color;
            }
        }

        @extend %input-hide;
    }

    &__text-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        padding: 0 20px;
        color: $base1-color;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: $base1-color;
        }
    }
}

.recent-products {
    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        border-radius: 5px;
        font-size: 14px;
        line-height: 16px;
        color: $dark-color;
        transition: all 0.3s;

        &:hover {
            color: #fff;
            background-color: $base1-color;

            img {
                border: 2px solid $base1-color;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                background-color: #fff;

                // box-shadow: 0 6px 47px 3px $base4-color;
            }
        }
    }

    &__img {
        margin-right: 18px;
        border: 1px solid #f2f2f2;
        padding: 5px;
        width: 70px;
        height: 70px;
        object-fit: contain;
        transition: all 0.3s;
    }

    &__stars {
        margin: 10px 0;
        padding: 0;

        &:hover {
            cursor: pointer;
        }
    }

    @extend %R-400;
}

// ------------------------------------
//
//              PAGINATION
//
// ------------------------------------

.pagination {
    display: inline-block;

    &__list {
        display: flex;
    }

    &__list-item {
        display: inline-block;
        width: 50px;
        height: 50px;
        color: $base0-color;

        span {
            border: 1px solid transparent;
        }

        & + & {
            margin-left: 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $base2-color;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 30px;
        color: inherit;
        transition: all 0.5s;

        &:not(span):hover {
            color: #fff;
            background-color: $base1-color;
        }

        @extend %R-400;
    }

    &__list-item--active {
        color: #fff;
        background-color: $base2-color;
    }

    &__list-item--prev,
    &__list-item--next {
        width: 75px;
    }
}