// ------------------------------------
//          COLORS
// ------------------------------------
$base0-color: #243f4d;
$base1-color: #436372;
$base2-color: #a3bbc8;
$base3-color: #eff1f4;
$default-color: #8b8b8b;
$accent-color: #f00;
$dark-color: #191919;
$bg-color: #fef7f0;
$bezh-color: #fcd7b6;

// ------------------------------------
// ------------------------------------

%after-line {
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        right: -56px;
        top: 50%;
        width: 40px;
        height: 3px;
        background-color: $base2-color;
        transform: translateY(-50%);
    }
}

// ------------------------------------
//          TEST STANDART
// ------------------------------------
%h2-title {
    font-size: 72px;
    line-height: 70px;
    color: $base0-color;

    @extend %R-500;
}

%h3-title {
    font-size: 36px;
    line-height: 36px;
    color: $base0-color;

    @extend %D-700;
}

%h4-title {
    font-size: 24px;
    line-height: 40px;
    color: $base0-color;

    @extend %R-500;
}

%h3-block-title {
    font-size: 24px;
    line-height: 36px;
    color: $base1-color;

    @extend %R-700;
}

%h6-title {
    font-size: 16px;
    line-height: 30px;
    color: $base1-color;

    @extend %R-700;
}

%text {
    font-size: 16px;
    line-height: 30px;
    color: $base0-color;

    @extend %R-400;
}

// ------------------------------------
//          BUTTONS STANDART
// ------------------------------------
%btn {
    position: relative;
    display: inline-block;
    border: 1px solid $base2-color;
    padding: 25px 100px 25px 30px;
    color: $base2-color;
    transition: all 0.5s;

    &::after {
        content: "";
        position: absolute;
        right: 25px;
        top: 50%;
        z-index: 1;
        width: 22px;
        height: 9px;
        background-image: url(../images/icons/arrows/button-arrow-base2.svg);
        transform: translateY(-50%);

        @extend %bg;
    }

    &:hover {
        color: #fff;
        background-color: $base2-color;

        &::after {
            background-image: url(../images/icons/arrows/button-arrow-white.svg);
        }
    }

    @extend %R-500;
}

%blue-btn {
    color: #fff;
    background-color: $base2-color;

    &::after {
        background-image: url(../images/icons/arrows/button-arrow-white.svg);
    }

    &:hover {
        background-color: $base1-color;
    }

    @extend %btn;
}

// ------------------------------------
//              DISPLAYING
// ------------------------------------

%bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%bg-contain {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

%flex--space-between {
    display: flex;
    justify-content: space-between;
}

%flex--space-between--center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// ------------------------------------
//              FONTS
// ------------------------------------

%R-300 {
    font-family: "Rubik-Light", sans-serif;
    font-weight: 300;
}

%R-400 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 400;
}

%R-500 {
    font-family: "Rubik-Medium", sans-serif;
    font-weight: 500;
}

%R-700 {
    font-family: "Rubik-Bold", sans-serif;
    font-weight: 700;
}

%D-400 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 400;
}

%D-500 {
    font-family: "DMSans-Medium", sans-serif;
    font-weight: 500;
}

%D-700 {
    font-family: "DMSans-Bold", sans-serif;
    font-weight: 700;
}

// ------------------------------------
//    Устранение какой=то проблемы
// ------------------------------------

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}