@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header__inner {
    height: 150px;
    font-size: 15px;
    color: $menu-text-color;

    @extend %Rubik-Medium;
}

.header__inner,
.menu__list,
.nav__list,
.user-nav__list,
.footer-bottom,
.short-menu__list {
    @extend %flex--space-between--center;
}

.menu__list-item {
    font-size: 15px;
    text-transform: capitalize;

    a {
        color: $menu-text-color;

        &:hover {
            color: $accsent-color;
        }
    }

    & + & {
        margin-left: 30px;
    }
}

.servises-link:hover .servises-list,
.pages-link:hover .pages-list {
    transform: translate(-30px, 10px);
}

.servises-list,
.pages-list {
    position: absolute;
    transition: all 0.5s;
    transform: translate(-30px, -200%);
    border: 1px solid $bezh-color;
}

.servises-list__item,
.pages-list__item {
    padding: 10px 30px;
}


.user-nav {
    &__list-item {
        position: relative;
        width: 52px;
        height: 52px;
    }

    &__search {
        border-radius: 50%;
        background-color: #edf1f4;
    }

    &__favorites {
        position: relative;
        margin-left: 50px;

        &::before {
            content: "";
            position: absolute;
            left: -26px;
            display: block;
            border-radius: 26px 0 0 26px;
            width: 26px;
            height: 52px;
        }
    }

    &__cart {
        position: relative;
        margin-right: 50px;

        &::before {
            content: "";
            position: absolute;
            left: -15px;
            display: inline-block;
            margin: 10px 0 0 12px;
            width: 1px;
            height: 32px;
            background-color: #fde7d3;
        }

        &::after {
            content: "";
            position: absolute;
            right: -26px;
            display: block;
            border-radius: 0 26px 26px 0;
            width: 26px;
            height: 52px;
        }
    }

    &__number {
        position: absolute;
        right: 30%;
        top: 23%;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        background-color: #fff;
    }

    &__add-menu {
        border-radius: 50%;
        background-color: $menu-text-color;

        svg {
            fill: #fff;
        }
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        transform: translate(-50%, -50%);
        transition: all 0.5s;

        &:hover {
            fill: $accsent-color;
        }
    }

    &__favorites,
    &__cart {
        width: 65px;

        svg {
            transform: translate(-88%, -27%);
        }
    }

    &__favorites,
    &__favorites::before,
    &__cart,
    &__cart::after {
        background-color: #fcd7b6;
    }
}

// ------------------------------------



// ------------------------------------


.footer {
    height: 100px;

    @extend %Rubik-Regular;
}

.footer-top {
    &__item {
        max-width: 270px;
        font-size: 14px;
        line-height: 24px;
    }

    &__contact-title {
        text-transform: uppercase;
    }

    &__logo {
        margin: 80px 0 30px;
    }

    &__list-item {
        margin-bottom: 10px;

        a {
            color: $text-color;
            transition: all 0.5s;

            &:hover {
                color: $accsent-color;
            }
        }
    }

    &__title {
        margin: 95px 0 33px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #1f2044;

        @extend %DMSans-Bold;
    }

    &__newsletter-text {
        margin-bottom: 40px;
    }

    @extend %flex--space-between;
}

.subscribe {
    height: 38px;

    &__input {
        border: none;
        padding: 0 0 0 15px;
        height: 100%;
        background-color: $bg-color;

        ::placeholder {
            background-color: #234969;
        }
    }

    &__btn {
        margin-left: -5px;
        border: none;
        height: 100%;
        text-transform: uppercase;
        color: #fff;
        background-color: $button-color;
        cursor: pointer;

        &:hover {
            background-color: $accsent-color;
        }
    }

    @extend %DMSans-Regular;
}

.footer-bottom {
    height: 100%;
    font-size: 14px;
}

.short-menu__list-item {
    text-transform: capitalize;

    a {
        color: $text-color;

        &:hover {
            color: $accsent-color;
        }
    }

    & + & {
        ::before {
            content: "|";
            display: inline-block;
            margin: 0 12px;
            font-size: 18px;
            color: $text-color;
        }
    }
}

@import "media";