@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header__inner {
    height: 150px;
    font-size: 15px;
    color: $base1-color;

    @extend %R-500;
}

.header__inner,
.menu__list,
.nav__list,
.user-nav__list,
.footer-bottom,
.short-menu__list {
    @extend %flex--space-between--center;
}

.menu__list-item {
    font-size: 15px;
    text-transform: capitalize;

    a {
        color: $base1-color;

        &:hover {
            color: $accent-color;
        }
    }

    & + & {
        margin-left: 30px;
    }
}

// ------------------------------------

.servises-link:hover .servises-list,
.pages-link:hover .pages-list {
    border-top: 5px solid $bezh-color;
    box-shadow: 0 10px 50px 0 #0003;
    font-size: 15px;
    opacity: 1;
    transition: all 0.3s, opacity 0.2s 0.3s;

    &__item {
        padding: 10px 30px;
    }
}

.servises-list,
.pages-list {
    position: absolute;
    z-index: 10;
    font-size: 0;
    background-color: #fff;
    opacity: 0;
    transition: all 0.3s;

    &__item {
        transition: all 0.3s;
    }
}

.user-menu__item {
    padding: 10px 30px;
    cursor: pointer;
}

.user-nav {
    &__list-item {
        position: relative;
        width: 52px;
        height: 52px;
    }

    &__search {
        position: relative;
        z-index: 98;
        border-radius: 26px;
        width: 52px;
        height: 52px;

        &:hover {
            .user-nav__search-input {
                border: 2px solid $base2-color;
                padding: 0 60px 0 15px;
                width: 252px;
            }

            .user-nav__search-wrapper {
                border: 2px solid $base2-color;
            }
        }
    }

    &__search-wrapper {
        position: relative;
        z-index: 97;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        background-color: #edf1f4;
        transition: all 0.5s;
    }

    &__search-input {
        position: absolute;
        right: 0;
        z-index: 96;
        border: none;
        border-radius: 26px;
        width: 52px;
        height: 52px;
        color: $base1-color;
        transition: all 0.5s;
    }

    &__favorites {
        position: relative;
        margin-left: 50px;

        &::before {
            content: "";
            position: absolute;
            left: -26px;
            display: block;
            border-radius: 26px 0 0 26px;
            width: 26px;
            height: 52px;
        }
    }

    &__cart {
        position: relative;
        margin-right: 50px;

        &::before {
            content: "";
            position: absolute;
            left: -15px;
            display: inline-block;
            margin: 10px 0 0 12px;
            width: 1px;
            height: 32px;
            background-color: #fde7d3;
        }

        &::after {
            content: "";
            position: absolute;
            right: -26px;
            display: block;
            border-radius: 0 26px 26px 0;
            width: 26px;
            height: 52px;
        }
    }

    &__number {
        position: absolute;
        right: 30%;
        top: 23%;
        z-index: 100;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        background-color: #fff;
    }

    &__add-menu {
        position: relative;
        border-radius: 50%;
        background-color: $base1-color;

        svg {
            fill: #fff;
        }

        &:hover {
            .user-menu {
                transform: translate(0%) rotateX(0deg);
            }
        }
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 99;
        display: block;
        transform: translate(-50%, -50%);
        transition: all 0.5s;

        &:hover {
            fill: $accent-color;
        }
    }

    &__favorites,
    &__cart {
        width: 65px;

        svg {
            transform: translate(-88%, -27%);
        }
    }

    &__favorites,
    &__favorites::before,
    &__cart,
    &__cart::after {
        background-color: #fcd7b6;
    }
}

.user-menu {
    position: absolute;
    right: 27px;
    top: -23px;
    z-index: 101;
    margin-top: 50px;
    border: 1px solid $base1-color;
    width: 200px;
    text-transform: uppercase;
    background-color: #fff;
    transform: translate(100px, -120px) rotate(360deg) scale(0);
    transition: all 0.5s;

    &__item {
        display: flex;
        justify-content: space-between;
        transition: all 0.3s;

        &:hover {
            background-color: $bg-color;
        }
    }

    &__item-icon {
        display: inline-block;
        width: 16px;
    }
}

// ------------------------------------

.page-title {
    padding: 35px 0;
    background-color: #edf1f4;

    &__text {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 24px;
        text-align: center;
        color: $base0-color;

        @extend %R-300;
    }
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;

    &__item-link {
        color: $base1-color;

        &:hover {
            color: $accent-color;
        }
    }

    &__item {
        &::after {
            content: "\a0/\a0";
        }

        &:last-child::after {
            content: none;
        }
    }

    @extend %R-400;
}

// ------------------------------------
// ------------------------------------

.slider {
    background-color: $bezh-color;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 220px 0 190px;
    }

    &__item-text-wrapper {
        max-width: 470px;
    }

    &__item-title {
        margin-bottom: 45px;

        @extend %h2-title;
    }

    &__item-text {
        margin-bottom: 50px;
        max-width: 370px;
        font-size: 18px;
        line-height: 30px;
        color: $base1-color;
        transform: translateY(-50%);

        @extend %R-400;
    }

    &__item-link {
        margin-bottom: 50px;

        @extend %blue-btn;
    }

    &__item-img-wrapper {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 800px;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            z-index: -1;
            display: block;
            border-radius: 50%;
            width: 640px;
            height: 640px;
            background: linear-gradient(90deg, #fcd7b6, #fff);
            transform: translate(20%, -50%);
        }
    }

    &__item-img {
        margin: 0 auto;
    }
}

.slick-dots {
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: center;

    li {
        opacity: 0.3;
        transition: all 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    li + li {
        margin-left: 12px;
    }

    button {
        border: none;
        border-radius: 50%;
        width: 27px;
        height: 27px;
        font-size: 10px;
        color: $base0-color;
        background-color: #fff;
    }
}

li.slick-active {
    opacity: 1;
}

.advantages {
    justify-content: space-around;
    height: 170px;
    background: #fcd7b633;

    &__item {
        position: relative;
        padding-left: 75px;
        max-width: 300px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 12px;
            display: block;
            width: 75px;
            height: 70px;
            background-repeat: no-repeat;
        }

        &:hover::before {
            animation: dying 1s 1;
        }
    }

    &__title {
        font-size: 18px;
        line-height: 40px;
        color: #414141;

        @extend %D-700;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #585858;

        @extend %D-400;
    }

    &__support::before {
        background-image: url(../images/icons/24h7d.svg);
    }

    &__delivery::before {
        background-image: url(../images/icons/delivery.svg);
    }

    &__secure::before {
        background-image: url(../images/icons/secure.svg);
    }

    @extend %flex--space-between--center;
}

// ------------------------------------

.special {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 150px 0 25px;
        gap: 30px;
    }
}

.special-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 190px 0;
    height: 300px;
    background-color: #fcd7b666;

    &__img-wrapper {
        margin-bottom: 175px;
        width: 100%;
        max-width: 370px;
    }

    &__img {
        margin-left: auto;

        &:hover {
            transform: rotate(360deg);
            transition: all 5s 5s;
        }
    }

    &__text-wrapper {
        padding-left: 30px;
        max-width: 300px;
        color: $base0-color;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 32px;

        @extend %D-700;
    }

    &__text {
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 30px;

        @extend %R-400;
    }

    &__link {
        position: relative;
        border: 1px solid $base2-color;
        border-radius: 5px;
        padding: 17px 86px 18px 20px;
        font-size: 15px;
        line-height: 12px;
        color: $base1-color;
        transition: all 0.5s;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            display: inline-block;
            width: 22px;
            height: 9px;
            background-image: url(../images/icons/arrow.svg);
            transform: translate(-100%, -50%);
        }

        &:hover {
            color: #fff;
            background-color: $base2-color;
        }

        &:hover::after {
            background-image: url(../images/icons/arrow-white.svg);
        }

        @extend %R-500;
    }
}

// ------------------------------------

.products,
.designs {
    margin: 75px 0;

    button.mixitup-control-active {
        color: $dark-color;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 36px;
        text-align: center;
        color: $dark-color;

        @extend %D-700;
    }

    &__buttons-box {
        display: flex;
        justify-content: center;
        margin-bottom: 75px;
    }

    &__button {
        border: none;
        padding: 0 15px;
        font-size: 16px;
        color: $base1-color;
        background-color: transparent;
        transition: all 0.5s;

        &:hover {
            color: $dark-color;
        }

        @extend %D-700;
    }

    &__items {
        display: grid;
    }
}

.products {
    margin-bottom: 200px;

    &__items {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        max-width: 1170px;
        gap: 30px;
    }
}

.products-item {
    border-radius: 10px;
    width: 100%;
    height: 380px;
    max-width: 270px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;

    &__img-wrapper {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        max-width: 270px;
        max-height: 270px;
    }

    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;

        &:hover {
            transform: translate(-50%, -50%) scale(1.05);
        }
    }

    &__name {
        height: 40px;
        font-size: 16px;
        color: $base0-color;

        @extend %D-500;
    }

    &__price {
        height: 40px;
        font-size: 16px;
        color: $base2-color;

        @extend %D-700;
    }

    &:hover {
        .product-menu {
            height: 45px;
            max-width: 170px;
            opacity: 1;
            transform: translate(-50%, -100%);
            transition: all 1s, max-width 0.5s 0.5s;
        }
    }
}

.product-menu {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 0;
    max-width: 0;
    opacity: 0;
    transform: translate(-50%, 20%);
    transition: all 1s, max-width 0.5s;

    &__list {
        justify-content: space-around;

        @extend %flex--space-between--center;
    }

    &__list-item {
        display: flex;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-shadow: 0 2px 6px 3px rgba(37, 37, 37, 0.5);
        background-color: #fff;
        transition: all 0.5s;

        &:hover {
            background-color: $base2-color;
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        background-size: 45%;

        @extend %bg;
    }

    &__search {
        background-image: url(../images/icons/search-main.svg);

        &:hover {
            background-image: url(../images/icons/search-white.svg);
        }
    }

    &__cart {
        background-image: url(../images/icons/cart-main.svg);

        &:hover {
            background-image: url(../images/icons/cart-white.svg);
        }
    }

    &__favorit {
        background-image: url(../images/icons/heart-main.svg);

        &:hover {
            background-image: url(../images/icons/heart-white.svg);
        }
    }

    &__list-item + &__list-item {
        margin-left: 15px;
    }
}

.designs {
    margin-bottom: 120px;

    &__items {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        max-width: 1160px;
        gap: 25px;
    }
}

.designs-item {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 35px;
    width: 100%;
    height: 245px;
    max-width: 370px;
    background-color: #f8f8f8;

    &__title {
        position: relative;
        z-index: 2;
        margin-bottom: 10px;
        max-width: 175px;
        font-size: 20px;
        color: $dark-color;

        @extend %D-700;
    }

    &__style {
        position: relative;
        z-index: 2;
        font-size: 16px;
        text-transform: capitalize;
        color: $base2-color;

        @extend %D-700;
    }

    &__img-wrapper {
        position: absolute;
        left: 85px;
        bottom: 35px;
        z-index: 0;
        width: 370px;
    }

    &__img {
        margin: 0 auto;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

// ------------------------------------

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-image: url(../images/video-bg.jpg);

    @extend %bg;
}

.play-btn {
    position: relative;
    z-index: 200;
    display: block;
    cursor: pointer;

    &__img {
        position: relative;
        z-index: 205;
    }

    &__layer {
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        background-color: #3d78aa;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
    }

    &__layer-0 {
        z-index: 204;
        width: 70px;
        height: 70px;
        background-color: #f00;
    }

    &__layer-1 {
        z-index: 203;
        width: 100px;
        height: 100px;
        opacity: 0.5;
        animation: play 2s infinite alternate-reverse;
    }

    &__layer-2 {
        z-index: 202;
        width: 130px;
        height: 130px;
        opacity: 0.37;
        animation: play 2s infinite alternate-reverse;
    }

    &__layer-3 {
        z-index: 201;
        width: 160px;
        height: 160px;
        opacity: 0.24;
        animation: play 2s infinite alternate-reverse;
    }

    &:hover {
        .play-btn__layer-0 {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

@keyframes play {
    0% {
        transform: translate(-50%, -50%) scale(0.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

// ------------------------------------

.annonce {
    margin-top: 120px;
    background: linear-gradient(to bottom, #fff 342px, transparent 0);
    background-color: $bg-color;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @extend %D-700;
    }

    &__top {
        margin-bottom: 45px;
    }

    &__title {
        @extend %h3-title;
    }

    &__link {
        padding-top: 13px;
        font-size: 16px;
        color: $dark-color;

        &:hover {
            color: $accent-color;
        }
    }

    .articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        max-width: 1170px;
        gap: 25px;
    }

    .article {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-color: #fff;
        transition: all 0.3s;

        &__img-wrapper {
            overflow: hidden;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &__img {
            display: block;
            overflow: hidden;
            width: 100%;
            height: 250px;
            object-fit: cover;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.07);
            }
        }

        &__section-name {
            align-self: flex-start;
            margin-left: 30px;
            border-radius: 20px;
            padding: 10px 30px;
            text-transform: uppercase;
            color: #fff;
            background-color: $base2-color;
            transform: translateY(-50%);

            @extend %D-700;
        }

        &__text-link {
            padding: 0 30px 15px;
            font-size: 18px;
            color: $dark-color;

            &:hover {
                color: $accent-color;
            }

            @extend %D-500;
        }

        &__info-box {
            position: static;
            margin: auto 27px 0;
            border-top: 1px solid #e0e0e0;
            padding: 20px 0;
            background-color: transparent;
        }

        &__date {
            &::before {
                background: url(../images/icons/info/calendar-grey.svg);
            }
        }

        &__autor-link {
            &::before {
                background-image: url(../images/icons/main/user-base1.svg);
            }
        }
    }
}

.clients {
    background-color: $bg-color;

    &__inner {
        justify-content: space-around;
        height: 250px;

        @extend %flex--space-between--center;
    }
}

// ------------------------------------

.footer {
    @extend %R-400;
}

.footer-top {
    &__item {
        max-width: 270px;
        font-size: 14px;
        line-height: 24px;
    }

    &__contact-title {
        text-transform: uppercase;
    }

    &__logo {
        margin: 80px 0 30px;
    }

    &__list-item {
        margin-bottom: 10px;

        a {
            color: $base1-color;
            transition: all 0.5s;

            &:hover {
                color: $accent-color;
            }
        }
    }

    &__title {
        margin: 95px 0 33px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #1f2044;

        @extend %D-700;
    }

    &__newsletter-text {
        margin-bottom: 40px;
    }

    @extend %flex--space-between;
}

.subscribe {
    height: 38px;

    &__input {
        border: none;
        padding: 0 0 0 15px;
        height: 100%;
        max-width: 150px;
        background-color: $bg-color;

        ::placeholder {
            background-color: #234969;
        }
    }

    &__btn {
        margin-left: -4px;
        border: none;
        height: 100%;
        text-transform: uppercase;
        color: #fff;
        background-color: $base2-color;
        cursor: pointer;

        &:hover {
            background-color: $accent-color;
        }
    }

    @extend %D-400;
}

.footer-bottom {
    margin: 25px 0;
    height: 100%;
    font-size: 14px;
}

.short-menu__list-item {
    text-transform: capitalize;

    a {
        color: $base1-color;

        &:hover {
            color: $accent-color;
        }
    }

    & + & {
        ::before {
            content: "|";
            display: inline-block;
            margin: 0 12px;
            font-size: 18px;
            color: $base1-color;
        }
    }
}

// ------------------------------------
//
// ABOUT
//
// ------------------------------------

.about-result {
    margin: 120px 0;

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    &__img {
        margin-left: auto;
    }

    &__text-wrapper {
        margin-top: 90px;
        padding-left: 20px;
        max-width: 570px;
        color: $base0-color;
    }

    &__experience {
        display: flex;
        align-items: flex-end;
    }

    &__experience-digit {
        font-size: 140px;
        line-height: 114px;
        color: #a3bbc8;

        @extend %R-700;
    }

    &__experience-text {
        margin-left: 25px;
        max-width: 100px;

        @extend %text;
    }

    &__title {
        margin: 35px 0;
        line-height: 1;
        color: inherit;

        @extend %h3-title;
    }

    &__text {
        margin-bottom: 55px;
        line-height: 30px;

        @extend %R-400;
    }

    &__digits {
        border-top: 2px solid #e6eaf0;
        padding-top: 40px;
        color: $base0-color;

        @extend %flex--space-between--center;
    }

    &__digit {
        position: relative;
        padding-left: 70px;

        &::before {
            content: "";
            position: absolute;
            left: 15px;
            top: 50%;
            display: block;
            width: 45px;
            height: 45px;
            transform: translateY(-50%);

            @extend %bg-contain;
        }
    }

    &__projects::before {
        background-image: url(../images/icons/note.svg);
    }

    &__revenue::before {
        background-image: url(../images/icons/rupor.svg);
    }

    &__avards::before {
        background-image: url(../images/icons/medal.svg);
    }

    &__digit-title {
        @extend %h3-title;
    }

    &__digit-text {
        color: #4c4c4c;

        @extend %D-700;
    }
}

.about-advantages {
    padding: 90px 0;
    background-color: $bezh-color;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item {
        position: relative;
        padding-top: 100px;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 12px;
            display: block;
            width: 80px;
            height: 80px;
            transform: translateX(-50%);

            @extend %bg-contain;
        }

        &:hover::before {
            animation: dying 1s 1;
        }
    }

    &__clients::before {
        background-image: url(../images/icons/about-clients.svg);
    }

    &__products::before {
        background-image: url(../images/icons/about-products.svg);
    }

    &__time::before {
        background-image: url(../images/icons/about-time.svg);
    }

    &__brands::before {
        background-image: url(../images/icons/about-brands.svg);
    }

    &__title {
        @extend %h3-title;
    }

    &__text {
        font-size: 18px;
        line-height: 36px;
        color: $base0-color;

        @extend %D-700;
    }
}

.about-team {
    margin: 120px 0;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
    }

    &__title {
        margin-bottom: 35px;

        @extend %h3-title;
    }

    &__text {
        margin-bottom: 40px;

        @extend %text;
    }

    &__link {
        @extend %blue-btn;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    &__list-item {
        overflow: hidden;
        margin: 0 auto;
    }

    &__item-img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.07);
        }
    }

    &__item-text {
        padding: 0 20px;
        width: 100%;
        height: 110px;
        max-width: 320px;
        box-shadow: 0 6px 57px 0 rgba(37, 37, 37, 0.05);
        background-color: #fff;
        transform: translateY(-50%);

        @extend %flex--space-between--center;
    }

    &__name {
        font-size: 22px;
        line-height: 26px;
        color: $base1-color;

        @extend %D-700;
    }

    &__position {
        font-size: 16px;
        line-height: 30px;
        color: $base0-color;

        @extend %R-400;
    }

    &__social-links {
        display: flex;
        justify-content: center;
    }

    &__social-link {
        position: relative;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #f6f6f6;
        transition: all 0.5s;

        &:hover {
            background-color: $base2-color;
        }
    }

    &__social-link + &__social-link {
        margin-left: 7px;
    }
}

.instagram {
    background-image: url(../images/icons/instagram-grey.svg);

    &:hover {
        background-image: url(../images/icons/instagram-white.svg);
    }
}

.google {
    background-image: url(..//images/icons/google-grey.svg);

    &:hover {
        background-image: url(..//images/icons/google-white.svg);
    }
}

// ------------------------------------
//
// LOGIN
//
// ------------------------------------

.modal {
    margin: 120px auto;
    max-width: 470px;
    font-size: 14px;
    color: $base1-color;

    &__label {
        display: block;
    }

    &__input {
        margin: 10px 0 25px;
        border: 2px solid #f6f6f6;
        padding: 0 15px;
        width: 100%;
        height: 60px;
    }

    &__submit-btn {
        display: block;
        margin: 5px 0 30px;
        border: 2px solid transparent;
        padding: 18px 0;
        width: 100%;
        font-size: 18px;
        color: #fff;
        background-color: $base2-color;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $base1-color;
        }

        @extend %R-500;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__checkbox {
        cursor: pointer;
    }

    &__recovery-link {
        color: inherit;
    }

    &__noregister-text {
        border-top: 2px solid #f6f6f6;
        padding: 35px 0 25px;
        text-align: center;
    }

    &__create-link {
        display: block;
        padding: 20px 0;
        width: 100%;
        font-size: 18px;
        text-align: center;
        transition: all 0.5s;

        &:hover {
            color: #fff;
            background-color: $base2-color;
        }

        @extend %R-500;
    }

    @extend %R-400;
}

.modal--simple-btn {
    border: 2px solid $base2-color;
    color: $base1-color;
    background-color: transparent;
}

// ------------------------------------
//
//      Terms & Conditions
//
// ------------------------------------

.terms-n-conditions {
    margin: 120px 0;
}

.tnc-block {
    &__title {
        margin-bottom: 10px;

        @extend %h4-title;
    }

    &__list {
        list-style-type: decimal-leading-zero;
        padding-left: 28px;
    }

    &__text {
        margin-bottom: 60px;

        @extend %text;
    }
}

// ------------------------------------
//
//      Contact
//
// ------------------------------------

.contact {
    margin: 120px 0;
    text-align: center;

    &__title {
        margin-bottom: 70px;
        font-size: 35px;
        line-height: 52px;
        color: $base1-color;

        @extend %D-700;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 20px;
        color: $base2-color;

        @extend %D-700;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__form {
        margin-right: 50px;
        width: 620px;
    }

    .contact-form__textarea {
        padding-top: 10px;
    }
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
    width: 370px;
    height: 370px;
    background-color: #fbfbfb;

    &__img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 60px;
        border-radius: 20px;
        width: 80px;
        height: 80px;
        background-color: #fff;
        transition: all 0.5s;

        path {
            fill: $base2-color;
            transition: all 0.5s;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 26px;
        color: $dark-color;

        @extend %D-700;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #565872;

        @extend %R-400;
    }

    &__email {
        display: block;
        color: inherit;
    }

    &:hover {
        border: 1px solid $base2-color;

        .contact-item__img-box {
            background-color: $base2-color;

            path {
                fill: #fff;
            }
        }
    }
}

.contact-form {
    text-align: left;

    &__box {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__input {
        height: 50px;
    }

    &__textarea {
        height: 180px;
        resize: none;
    }

    &__submit-btn {
        border: none;
        text-transform: uppercase;

        @extend %blue-btn;
    }

    &__label {
        position: relative;
        display: inline-block;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            right: 17px;
            top: 17px;
            z-index: 1;
            display: block;
            width: 18px;
            height: 16px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__label--name::before {
        background-image: url(../images/icons/contact/form-name.svg);
    }

    &__label--email::before {
        background-image: url(../images/icons/contact/form-email.svg);
    }

    &__label--message::before {
        background-image: url(../images/icons/contact/form-message.svg);
    }

    &__input,
    &__textarea {
        position: relative;
        margin-bottom: 20px;
        border: none;
        padding: 0 50px 0 20px;
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        color: #565872;
        background-color: #fafafa;

        &::placeholder {
            text-transform: uppercase;
        }

        @extend %R-400;
    }
}

#map {
    width: 500px;
    height: 330px;
}

// ------------------------------------
//
//      BLOG
//
// ------------------------------------

.blog {
    margin: 120px 0;

    &__inner {
        display: flex;
    }

    &__aside {
        margin-left: 70px;
        width: 100%;
        max-width: 270px;
    }

    .article {

        &__date,
        &__autor-link {
            color: #fff;

            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}

.article {
    margin-bottom: 50px;

    &__img-wrapper {
        position: relative;
        margin-bottom: 40px;
        height: 500px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info-box {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 25px 25px 20px 20px;
        color: #fff;
        background-color: $base2-color;
    }

    &__date {
        font-size: 12px;
        text-transform: uppercase;
        color: $default-color;

        &::before {
            background-image: url(../images/icons/info/calendar-white.svg);
        }

        &:hover {
            color: $accent-color;
        }
    }

    &__autor-link {
        margin-left: 30px;
        max-width: 140px;
        white-space: nowrap;

        &::before {
            background: url(../images/icons/main/user-white.svg);
        }
    }

    &__title {
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 26px;
        color: $dark-color;

        @extend %R-400;
    }

    &__annonce {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 30px;
        color: $base0-color;

        @extend %R-400;
    }

    &__more-link {
        @extend %btn;
    }

    &__date,
    &__autor-link {
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding-left: 17px;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: $base0-color;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            display: block;
            width: 12px;
            height: 12px;
            transform: translateY(-50%);

            @extend %bg;
        }

        &:hover {
            color: $accent-color;
        }

        @extend %R-400;
    }
}

.blog-aside {
    &__item {
        & + & {
            margin-top: 40px;
        }
    }

    &__item-title {
        margin-bottom: 30px;
        text-transform: uppercase;
        color: $base0-color;

        @extend %D-700;
    }
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 2px solid $base2-color;
    border-radius: 5px;
    height: 40px;

    &__input {
        display: inline-block;
        margin: 0;
        margin-left: 2px;
        border: none;
        border-radius: 5px;
        padding: 0 10px;
        width: 225px;
        height: 32px;

        @extend %R-400;
    }

    &__submit-btn {
        position: absolute;
        right: -4px;
        top: -2px;
        display: inline-block;
        border: none;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        background-image: url(../images/icons/main/search-blue.svg);
        background-size: 18px;
        background-color: $base2-color;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-image: url(../images/icons/main/search-white.svg);
            background-color: $base1-color;
        }

        @extend %bg;
    }
}

.category-filter {
    &__list {
        margin-top: -15px;
    }

    &__list-item {
        border-radius: 5px;
        font-size: 16px;
        line-height: 43px;
        text-transform: capitalize;

        @extend %R-400;
    }

    &__list-item-link {
        position: relative;
        display: block;
        padding: 0 20px;
        color: $base1-color;

        &::after {
            content: "";
            position: absolute;
            right: 20px;
            top: 50%;
            display: inline-block;
            width: 16px;
            height: 10px;
            background-image: url(../images/icons/arrows/angle-right-base1.svg);
            transform: translateY(-50%);

            @extend %bg;
        }

        &:hover {
            background-color: $base3-color;
        }
    }
}

.article-preview {
    display: flex;
    align-items: center;

    &__img-link {
        display: inline-block;
        margin-right: 20px;
        width: 70px;
        height: 70px;
        min-width: 70px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title-link {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 14px;
        color: $dark-color;

        &:hover {
            color: $accent-color;
        }

        @extend %R-400;
    }

    .article {
        &__date {
            color: $default-color;

            &::before {
                background: url(../images/icons/info/calendar-grey.svg);
            }

            &:hover {
                color: $accent-color;
            }
        }
    }

    & + & {
        margin-top: 20px;
    }
}

// ------------------------------------
//
//          PAGINATION
//
// ------------------------------------

.pagination {
    &__list {
        display: flex;
    }

    &__list-item {
        display: inline-block;
        width: 50px;
        height: 50px;
        color: $base0-color;

        span {
            border: 1px solid transparent;
        }

        & + & {
            margin-left: 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $base2-color;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 30px;
        color: inherit;

        &:hover {
            color: #fff;
            background-color: $base1-color;
        }

        @extend %R-400;
    }

    &__list-item--active {
        color: #fff;
        background-color: $base2-color;
    }

    &__list-item--prev,
    &__list-item--next {
        width: 75px;
    }
}

// ------------------------------------

@import "media";

@keyframes dying {
    0% {
        top: 12px;
    }

    20% {
        top: 22px;
    }

    40% {
        top: 5px;
    }

    60% {
        top: 17px;
    }

    100% {
        top: 12px;
    }
}